body {
    background-image: url(lister1.jpg);
    background-size: 150%;
    margin: 0%;
}

.box {
    background-color: white;
    border: double 15px lightslategray;
    text-align: center;
    width: fit-content;
}

.introducao {
    padding: 5px;
    margin: auto;
}

.posicao {
    padding: 30px;
    margin: auto;
    margin-top: 10px;
}

.secao {
    display: flex;
    align-items: center;
    padding: 1em;
    flex-direction: column;
}